
name: Docker + GCP E2E All Workflows

on:
  workflow_dispatch:

permissions:
  contents: write   # Needed for docker-build.yml to push tags
  id-token: write   # Needed for GCP authentication

jobs:
  docker-build:
    uses: ./.github/workflows/docker-build.yml
    with:
      image_name: ${{ secrets.SMPL_E2E_MLOPS_IMAGE_NAME }}
    secrets:
      GCP_CREDENTIALS: ${{ secrets.SMPL_E2E_MLOPS_GCP_CREDENTIALS }}

  gcp-docker-build-push:
    needs: docker-build
    uses: ./.github/workflows/gcp-docker-build-push.yml
    with:
      project_id: ${{ secrets.SMPL_E2E_MLOPS_GCP_PROJECT_ID }}
      region: ${{ secrets.SMPL_E2E_MLOPS_GCP_REGION }}
      image_name: ${{ secrets.SMPL_E2E_MLOPS_IMAGE_NAME }}
    secrets:
      GCP_CREDENTIALS: ${{ secrets.SMPL_E2E_MLOPS_GCP_CREDENTIALS }}

  gcp-deploy-latest-to-cloud-run:
    needs: gcp-docker-build-push
    uses: ./.github/workflows/gcp-deploy-latest-to-cloud-run.yml
    with:
      project_id: ${{ secrets.SMPL_E2E_MLOPS_GCP_PROJECT_ID }}
      region: ${{ secrets.SMPL_E2E_MLOPS_GCP_REGION }}
      image_name: ${{ secrets.SMPL_E2E_MLOPS_IMAGE_NAME }}
      service_name: ${{ secrets.SMPL_E2E_MLOPS_SERVICE_NAME }}
    secrets:
      GCP_CREDENTIALS: ${{ secrets.SMPL_E2E_MLOPS_GCP_CREDENTIALS }}
