
name: Docker + GCP E2E All Workflows

on:
  workflow_dispatch:

jobs:
  docker-build:
    uses: ./.github/workflows/docker-build.yml
    with:
      image_name: "simple-endtoend-mlops-on-gcp"
    secrets:
      GCP_CREDENTIALS: ${{ secrets.SMPL_E2E_MLOPS_GCP_CREDENTIALS }}

  gcp-docker-build-push:
    needs: docker-build
    uses: ./.github/workflows/gcp-docker-build-push.yml
    with:
      project_id: "packtpub-ai-ml-projects"
      region: "us-central1"
    secrets:
      GCP_CREDENTIALS: ${{ secrets.SMPL_E2E_MLOPS_GCP_CREDENTIALS }}

  gcp-deploy-latest-to-cloud-run:
    needs: gcp-docker-build-push
    uses: ./.github/workflows/gcp-deploy-latest-to-cloud-run.yml
    with:
      project_id: "packtpub-ai-ml-projects"
      region: "us-central1"
      image_name: "simple-endtoend-mlops-on-gcp"
      service_name: "smpl-e2e-mlops-gcp-service"
    secrets:
      GCP_CREDENTIALS: ${{ secrets.SMPL_E2E_MLOPS_GCP_CREDENTIALS }}
