
name: Docker + GCP E2E All Workflows

on:
  workflow_dispatch:

permissions:
  contents: write
  id-token: write

jobs:
  docker-build:
    uses: ./.github/workflows/docker-build.yml
    secrets:
      GCP_CREDENTIALS: ${{ secrets.SMPL_E2E_MLOPS_GCP_CREDENTIALS }}
      IMAGE_NAME: ${{ secrets.SMPL_E2E_MLOPS_IMAGE_NAME }}

  gcp-docker-build-push:
    needs: docker-build
    uses: ./.github/workflows/gcp-docker-build-push.yml
    secrets:
      GCP_CREDENTIALS: ${{ secrets.SMPL_E2E_MLOPS_GCP_CREDENTIALS }}
      PROJECT_ID: ${{ secrets.SMPL_E2E_MLOPS_GCP_PROJECT_ID }}
      REGION: ${{ secrets.SMPL_E2E_MLOPS_GCP_REGION }}
      IMAGE_NAME: ${{ secrets.SMPL_E2E_MLOPS_IMAGE_NAME }}

  gcp-deploy-latest-to-cloud-run:
    needs: gcp-docker-build-push
    uses: ./.github/workflows/gcp-deploy-latest-to-cloud-run.yml
    secrets:
      GCP_CREDENTIALS: ${{ secrets.SMPL_E2E_MLOPS_GCP_CREDENTIALS }}
      PROJECT_ID: ${{ secrets.SMPL_E2E_MLOPS_GCP_PROJECT_ID }}
      REGION: ${{ secrets.SMPL_E2E_MLOPS_GCP_REGION }}
      IMAGE_NAME: ${{ secrets.SMPL_E2E_MLOPS_IMAGE_NAME }}
      SERVICE_NAME: ${{ secrets.SMPL_E2E_MLOPS_SERVICE_NAME }}

